html {
  font-size: 40px;
  color: white;
}

body {
  margin: 0 0 0 0;
  height: 100%
  width: 100%;
  background-image: url('background2.jpg');
  background-color: rgba(255, 0, 0, 0.5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
 background-color: #42dff4;
 opacity: 0.9;
 height: 100%;
 background-attachment: scroll;margin: 0;
}

.parallax2 {
 background-color: #41f468;
 opacity: 0.9;
 background-attachment: scroll;
}

.parallax3 {
 background-color: #e241f4;
 opacity: 0.9;
 background-attachment: scroll;
 text-align: center;
}

.textarea {
height: 80%;
}

a {
    color: hotpink;
}

.border {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
  text-align: center;
  margin-top: 350px;
  margin-bottom: 350px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

h1, h3, h5 {
  font-family: 'Roboto', sans-serif;

}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
