html {
  font-size: 50px;
}

body {
  margin: 0 0 0 0;
  width: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 0.9rem;
  text-align: center;
}

h2 {
  font-size: 0.8rem;
  text-decoration: underline;
}

h3 {
  font-size: 0.7rem;
}

h4 {
  font-size: 0.6rem;
}

h5 {
  font-size: 0.5rem;
}

p {
  font-size: 0.4rem;
}

.gridlayout {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-flow: row;
  grid-gap: 5px;
  justify-items: center;
  align-items: start;
  justify-content: center;
}

.bottomborder {
  border-bottom: 2px solid #f1f1f1;
}
